{% extends 'RJAdminBundle:Category:categoryContent.html.twig' %}

{% block categoryContentTitle %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $(function() {
        $('a.show').click(function(){
            var url = Routing.generate('rj_admin_settings_category_update', {id: $(this).data('id'), type: 'visible' });
            $.get(
                url,
                function(){
                    console.log('ukryj');
                }
            )
        });
    $('a.remove').click(function(){
        var url = Routing.generate('rj_admin_settings_category_remove', {id: $(this).data('id')});
        $.get(
            url,
            function(){
                console.log('usunieto');
            }
        )
        });
    });
{% endblock %}

{% block categoryContent %}
    <nav class="text-right">
        <a class="btn btn-primary" href="{{ path('rj_admin_settings_category_add') }}">{{ 'general.add' | trans }}</a>
    </nav>
    <section id="categoryTree">
        <ul class="">
            {% for category in categoryTree %}
                <li>
                    {% if category.name is not empty %}
                        {{ category.name }}
                    {% else %}
                        {{ 'adminBundle.manageCategory.form.emptyTranslation' | trans }}
                    {% endif %}
                    <div class="btn-group">
                        <a class="btn btn-primary"
                           href="{{ path('rj_admin_settings_category_edit', { 'id': category.id }) }}"><i
                                    class="fa fa-pencil fa-fw"></i> {{ 'general.edit' | trans }}
                        </a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="remove" data-id="{{ category.id }}" href="javascript:void(0);"><i
                                            class="fa fa-trash-o fa-fw"></i> {{ 'general.remove' | trans }}</a></li>
                            {% if category.flClickable %}
                                <li><a class="clickable" data-id="{{ category.id }}" href="javascript:void(0);"><i
                                                class="fa fa-unlink fa-fw"></i> {{ 'adminBundle.manageCategory.form.notFlClickable' | trans }}
                                    </a></li>
                            {% else %}
                                <li><a class="clickable" data-id="{{ category.id }}" href="javascript:void(0);"><i
                                                class="fa fa-link fa-fw"></i> {{ 'adminBundle.manageCategory.form.flClickable' | trans }}
                                    </a></li>
                            {% endif %}
                            {% if category.flShow %}
                                <li><a class="show" data-id="{{ category.id }}" href="javascript:void(0);"><i class="fa fa-eye-slash"></i> {{ 'general.dontShow' | trans }}</a></li>
                            {% else %}
                                <li><a class="show" data-id="{{ category.id }}" href="javascript:void(0);"><i class="fa fa-eye"></i> {{ 'general.show' | trans }}</a></li>
                            {% endif %}
                        </ul>
                    </div>

                    {% if category.children | length > 0 %}
                        {% include 'RJAdminBundle:Category:includes/category_nested_level.html.twig' with {'categoryTree': category.children} %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}