<!DOCTYPE html>
<html>
<head>
    <title>Panel administracyjny {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    {# charts #}
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
    {# end charts #}

    {% stylesheets
    output='css/compiled/vendor.css'
    'css/vendor/*' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% stylesheets
    output='css/compiled/admin.css'
    'css/admin.less' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

</head>
<body>
<div class="header-background"></div>
<div class="submenu-background"></div>
<div class="info-background"><span></span></div>
<section id="main-wrapper">
    <header>
        <div id="user-content">
            <div id="user-logged">
                {{ 'dialog.hello' | trans }} {{ app.user.firstName }} {{ app.user.lastName }}
            </div>
            <div id="user-message">
                <a href="">{{ 'dialog.youHave' | trans }} x {{ 'dialog.unreadedMessage' | trans }}</a>
            </div>
        </div>
        <a href="" class="unread-mail"><i class="fa fa-envelope"></i></a>
    </header>
    <nav>
        <ul>
            <li class="{% block menuDashboard %}{% endblock %}">
                <a href="{{ path('rj_admin_homepage') }}"><i class="fa fa-home"></i> {{ 'adminBundle.menu.dashboard' | trans }}</a>
                <ul>
                    <li>
                        <a href="">{{ 'adminBundle.menu.manageDashboard' | trans }} <i class="fa fa-dashboard"></i></a>
                    </li>
                    <li>
                        <a href="">example 1 <i class="fa fa-caret-down"></i></a>
                    </li>
                    <li>
                        <a href="">example 2 <i class="fa fa-caret-down"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""><i class="fa fa-group"></i> {{ 'adminBundle.menu.manageUsers' | trans }}</a>
            </li>
            <li class="{% block menuShop %}{% endblock %}">
                <a href="{{ path('rj_shop_homepage') }}"><i class="fa fa-shopping-cart"></i> {{ 'adminBundle.menu.manageShop' | trans }}</a>
            </li>
            <li>
                <a href=""><i class="fa fa-wrench"></i> {{ 'adminBundle.menu.settings' | trans }}</a>
            </li>
            <li id="logout">
                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i></a>
            </li>
        </ul>
    </nav>
    <section id="info">
        {{ 'dialog.yeasterday' | trans }}:
        <ul>
            <li>{{ 'dialog.visits' | trans }}:<i class="fa fa-arrow-up"></i> 123</li>
            <li>{{ 'dialog.uniqueVisits' | trans }}:<i class="fa fa-arrow-up"></i> 100</li>
            <li>{{ 'dialog.bounceRate' | trans }}:<i class="fa fa-arrow-down"></i> 18.7 %</li>
        </ul>
    </section>

    <aside>
        {% block sidebar %}{% endblock %}
    </aside>
    <section id="main-content">
        {% block body %}{% endblock %}
    </section>
</section>
</body>
</html>