{% extends 'RJAdminBundle::layout.html.twig' %}

{% block title %}- {{ 'adminBundle.menu.settings.settings' | trans }}{% endblock %}

{% block menuSettings %}active{% endblock %}
{% block submenuGeneral %}active{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block sidebar %}
    <section class="box">
        <h2><i class="fa fa-gear"></i><i class="fa fa-caret-down"></i></h2>
        <hr>
        <div class="box-content">
            <ul class="sidebar-menu">
                <li>
                    <a data-toggle="tab" href="#siteSettings">{{ 'adminBundle.menu.settings.settings' | trans }} {{ 'adminBundle.menu.settings.site' | trans }}</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#designSettings" class="text-strike">{{ 'adminBundle.menu.settings.design' | trans }}</a> {# szablon #}
                </li>
                <li>
                    <a data-toggle="tab" href="#pageLayoutSettings" class="text-strike">{{ 'adminBundle.menu.settings.pageLayout' | trans }}</a>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block body %}
    {% include 'RJAdminBundle:Settings:General/siteSettings.html.twig' with { form: siteSettingsForm }%}
    {% include 'RJAdminBundle:Settings:General/designSettings.html.twig' %}
    {% include 'RJAdminBundle:Settings:General/pageLayoutSettings.html.twig' %}
{% endblock %}