{% extends 'RJAdminBundle::layout.html.twig' %}

{% block title %}- {{ 'adminBundle.menu.settings.settings' | trans }}{% endblock %}

{% block menuSettings %}active{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block sidebar %}
    <section class="box">
        <h2><i class="fa fa-bar-chart-o"></i>Podsumowanie<i class="fa fa-caret-down"></i></h2>
        <hr>
        <div class="box-content">
            W trakcie...
        </div>
    </section>
    <section class="box">
        <h2><i class="fa fa-archive"></i>Archiwum raportów<i class="fa fa-caret-down"></i></h2>
        <hr>
        <div class="box-content">
            <ul>
                <li>Lore</li>
                <li>Ipsum</li>
                <li>dasd</li>
            </ul>
            <div class="options">
                <a class="view-more" href="javascript:void(0);">{{ 'adminBundle.base.view.more' | trans }}</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="box">
        <h2><i class="fa fa-comments"></i>Ostatnie komentarze<i class="fa fa-caret-down"></i></h2>
        <hr>
        <div class="box-content">
            <ul class="latest-comments">
                <li>
                    <table>
                        <tr>
                            <td class="avatar">
                                <img src="{{ asset('/images/avatars/avatar_male_dark_on_clear_48x48.png') }}">
                            </td>
                            <td class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a vulputate justo, in pharetra augue. Sed pellentesque sem quis tortor faucibus placerat. In imperdiet ut turpis eu fermentum. Nulla ut ipsum ac nisl tempor posuere. Mauris lacinia eros non imperdiet luctus.
                            </td>
                            <td class="options">
                                <a class="aprove" href="javascript:void(0);"><i class="fa fa-check"></i>{{ 'adminBundle.comment.aprove' | trans }}</a>
                                <a class="spam" href="javascript:void(0);"><i class="fa fa-warning"></i>{{ 'adminBundle.comment.spam' | trans }}</a>
                                <a class="trash" href="javascript:void(0);"><i class="fa fa-plus"></i>{{ 'adminBundle.comment.trash' | trans }}</a>
                                <a class="delete" href="javascript:void(0);"><i class="fa fa-times"></i>{{ 'adminBundle.comment.delete' | trans }}</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <table>
                        <tr>
                            <td class="avatar">
                                <img src="{{ asset('/images/avatars/avatar_male_dark_on_clear_48x48.png') }}">
                            </td>
                            <td class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a vulputate justo, in pharetra augue. Sed pellentesque sem quis tortor faucibus placerat. In imperdiet ut turpis eu fermentum. Nulla ut ipsum ac nisl tempor posuere. Mauris lacinia eros non imperdiet luctus.
                            </td>
                            <td class="options">
                                <a class="aprove" href="javascript:void(0);"><i class="fa fa-check"></i>{{ 'adminBundle.comment.aprove' | trans }}</a>
                                <a class="spam" href="javascript:void(0);"><i class="fa fa-warning"></i>{{ 'adminBundle.comment.spam' | trans }}</a>
                                <a class="trash" href="javascript:void(0);"><i class="fa fa-plus"></i>{{ 'adminBundle.comment.trash' | trans }}</a>
                                <a class="delete" href="javascript:void(0);"><i class="fa fa-times"></i>{{ 'adminBundle.comment.delete' | trans }}</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <table>
                        <tr>
                            <td class="avatar">
                                <img src="{{ asset('/images/avatars/avatar_male_dark_on_clear_48x48.png') }}">
                            </td>
                            <td class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a vulputate justo, in pharetra augue. Sed pellentesque sem quis tortor faucibus placerat. In imperdiet ut turpis eu fermentum. Nulla ut ipsum ac nisl tempor posuere. Mauris lacinia eros non imperdiet luctus.
                            </td>
                            <td class="options">
                                <a class="aprove" href="javascript:void(0);"><i class="fa fa-check"></i>{{ 'adminBundle.comment.aprove' | trans }}</a>
                                <a class="spam" href="javascript:void(0);"><i class="fa fa-warning"></i>{{ 'adminBundle.comment.spam' | trans }}</a>
                                <a class="trash" href="javascript:void(0);"><i class="fa fa-plus"></i>{{ 'adminBundle.comment.trash' | trans }}</a>
                                <a class="delete" href="javascript:void(0);"><i class="fa fa-times"></i>{{ 'adminBundle.comment.delete' | trans }}</a>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}